extends ../layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            //+postDate(article.createdAt)
            h2.post__title.title.title--main #{article.title}
          .post__picture
            img(src=`/img/${article.photo}` alt='Фото поста')
          .post__text
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            each comment in article.comments
              li.comments__comment
                .comments__avatar.avatar
                  img(src=`/img/${comment.users.avatar}` alt='Аватар пользователя')
                .comments__text
                  .comments__head
                    p=`${comment.users.firstName} ${comment.users.lastName} •`
                    time.comments__date(datetime= comment.createdAt)= new Date(comment.createdAt).toLocaleString()
                  p.comments__message #{comment.text}
          if(user)
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments` method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                .comments__avatar.avatar
                    img(src=`/img/${user.avatar}` alt='аватар пользователя')
                label
                  textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению')= `${comment ? comment : ''}`
                button.comments__button.button.button--colored(type='submit') Опубликовать
          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href='/login') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться

