extends ../layout

block header
  include ../partials/header-admin

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item(id=comment.id)
            form.form(action=`/my/comments/${comment.id}` method="POST")
              .publication__header
                img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name=`${comment.users.firstName} ${comment.users.lastName}`
                +formatDate(comment.createdAt,  false, 'publication__item-time')
              a.publication__item-text(href=`/articles/${comment.articles.id}`)= comment.articles.title
              p.publication__text-strong= comment.text
              button.publication__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка


